.admin {
    background: $blue;
    background: -moz-linear-gradient($bottom-left, $blue, $light-blue); /* FF3.6-15 */
    background: -webkit-linear-gradient($bottom-left, $blue, $light-blue); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient($bottom-left, $blue, $light-blue); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding-top: 6rem;
    padding-bottom: 4rem;
    min-height: 100vh;
}

.table-wrapper {
    background: $white;
    color: $blue;
    padding: 1.2rem 1.5rem;
    margin: 1rem 0;
    border-radius: 3px;
    box-shadow: 4px 4px 6px rgba($color: black, $alpha: .3);

    .table-title {
        background: $blue;
        color: $white;
        padding: 1rem 1.7rem;
        margin: -1.25rem -1.5625rem 0.3125rem;
        border-radius: 3px 3px 0 0;
    }

    th {
        border: none;
    }

    td {
        border-bottom: .5px solid $gray;
    }
}
